autopep8==0.5.2
bcrypt==3.1.7
Click==7.0
coverage==5.5
Flask==1.1.1
future==0.18.2
html5lib==1.0.1
httplib2==0.14.0
itsdangerous==1.1.0
Jinja2==2.10.1
lockfile==0.12.2
Markdown==3.1.1
MarkupSafe==1.1.0
pep8==1.7.1
pipenv==11.9.0
pytest==6.2.4
python-coveralls==2.9.3
PyYAML==5.3.1
requests==2.22.0
requests-unixsocket==0.2.0
urllib3==1.25.8
virtualenv==20.0.17
virtualenv-clone==0.3.0
Werkzeug==0.16.1
